@import url('https://use.typekit.net/jmk3xov.css');

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: black;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100vw;
  z-index: 99;
  position: absolute;
  width: auto;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
}

section {
  grid-column: 2 / 8;
  position: relative;
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

section::before {
  content: '';
  position: absolute;
  opacity: inherit;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: white;
  mix-blend-mode: difference;
  z-index: 0;
}

section p, h2 {
  position: relative;
  color: black;
  text-shadow: -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
  z-index: 99;
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: black;
  background-color: white;
  font-size: 4rem;
  display: inline;
  line-height: 1;
}

.left {
  grid-column: 6 / 12;
}

.blurBG {
  grid-column: 1 / 13;
  position: relative;
  top: 120px;
  text-align: center;
  backdrop-filter: blur(3px) invert(100%);
  background: rgba(255, 255, 255, 0.45);
  height: 100vh;
  z-index: 99;
  padding: 10px 45px 30px;
}

.blurBG h1 {
  text-align: center;
  color: black;
  font-size: 40pt;
}

.blurBG p {
  display:inline;
  font-size: 18pt;
  margin:auto;
}

.blurBG #srclink{
  background: -webkit-linear-gradient(0deg, #b20bff, #11baf2 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#srclink:hover, .blurBG > a:hover {
  filter: drop-shadow(0 0 1em #646cffaa);
}

.blurBG > a {
  text-decoration: none;
}

.imageDiv {
  display: flex;
  justify-content: center;
}

.imageDiv img {
  height: 150px;
  width: 150px;
  margin: 0 20px;
}

#vite:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

#js:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

#three:hover {
  filter: drop-shadow(0 0 4em #000000);
}

#infodiv {
  background: white;
  position: fixed;
  top: 10px;
  left: 10px;
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  z-index: 110;
}